<div class="button">
    <div class="button-container">
        <div>+</div>
        <div>Add Test</div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>T002</td>
                <td>Particle Accl</td>
                <td>to update...</td>
                <td>Rs. 4500</td>
            </tr>
            <tr>
                <td>T005</td>
                <td>Biotic Arm</td>
                <td>to update...</td>
                <td>Rs. 500</td>
            </tr>
            <tr>
                <td>T007</td>
                <td>Object Tracker</td>
                <td>to update...</td>
                <td>Rs. 780</td>
            </tr>
    </tbody>
</table>