<div class="button">
    <div class="button-container">
        <div>+</div>
        <div>Add Admin</div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>UserName</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>A002</td>
                <td>Manish Paul</td>
                <td>mpaul</td>
                <td>p2345</td>
            </tr>
            <tr>
                <td>A005</td>
                <td>Manas Mehta</td>
                <td>mmehta</td>
                <td>p78956</td>
            </tr>
            <tr>
                <td>A007</td>
                <td>Arijit Das</td>
                <td>adas</td>
                <td>e49568</td>
            </tr>
            <tr>
                <td>A009</td>
                <td>Danish Deb</td>
                <td>debdan</td>
                <td>d568603</td>
            </tr>
            <tr>
                <td>A017</td>
                <td>Mehrul Mallic</td>
                <td>mehc</td>
                <td>t68973</td>
            </tr>
    </tbody>
</table>