<div class="button">
    <div class="button-container">
        <div>+</div>
        <div>Add Lab</div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>PinCode</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>L5600</td>
                <td>Physics</td>
                <td>Amit Sarani</td>
                <td>98604934</td>
                <td>70020</td>
            </tr>
            <tr>
                <td>L5600</td>
                <td>Testing</td>
                <td>16th add street</td>
                <td>23758410</td>
                <td>70022</td>
            </tr>
            <tr>
                <td>L5600</td>
                <td>Bio-Mechanics</td>
                <td>14th parker lane</td>
                <td>67059483</td>
                <td>80010</td>
            </tr>
            <tr>
                <td>L5600</td>
                <td>IT</td>
                <td>19th Kalagachia Road</td>
                <td>89755459</td>
                <td>70060</td>
            </tr>
            <tr>
                <td>L5600</td>
                <td>Chemistry</td>
                <td>25th Nanadankanan Road</td>
                <td>30869510</td>
                <td>70150</td>
            </tr>
    </tbody>
</table>