<div class="button">
    <div class="button-container">
        <div>+</div>
        <div>Add Customer</div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>C5600</td>
                <td>Shreya Ghosh</td>
                <td>Amit Sarani</td>
                <td>51</td>
                <td>Female</td>
            </tr>
            <tr>
                <td>C5600</td>
                <td>Sushank Singh</td>
                <td>16th add street</td>
                <td>27</td>
                <td>Male</td>
            </tr>
            <tr>
                <td>C5600</td>
                <td>Anil Chopra</td>
                <td>14th parker lane</td>
                <td>45</td>
                <td>Male</td>
            </tr>
            <tr>
                <td>C5600</td>
                <td>Tithi Mallic</td>
                <td>19th Kalagachia Road</td>
                <td>27</td>
                <td>Female</td>
            </tr>
            <tr>
                <td>C5600</td>
                <td>Sid Ahuja</td>
                <td>25th Nanadankanan Road</td>
                <td>30</td>
                <td>Male</td>
            </tr>
    </tbody>
</table>